@model Models.News

@{
    ViewBag.Title = "NBNB-管理员-战报详情";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <h2 class="text-center">战报详情</h2>
    <table class="table table-hover">
        <tr>
            <td>
                战报标题
            </td>
            <td>
                @Html.DisplayFor(model => model.NTitle)
            </td>
        </tr>
        <tr>
            <td>
                上传时间
            </td>
            <td>
                @Html.DisplayFor(model => model.NTime)
            </td>
        </tr>
        <tr>
            <td>
                战报内容
            </td>
            <td>
                @Html.Raw(HttpUtility.HtmlDecode(Model.NContent))
            </td>
        </tr>
        <tr>
            <td>
                浏览数
            </td>
            <td>
                @Html.DisplayFor(model => model.NViewnum)
            </td>
        </tr>
        <tr>
            <td>
                评论数
            </td>
            <td>
                @Html.DisplayFor(model => model.NCommentnum)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = Model.NID }) |
                @Html.ActionLink("返回战报管理页面", "Index")
            </td>
        </tr>
    </table>   
</div>