@model Models.Users
@{
    ViewBag.Title = "NBNB-修改信息";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="user-center">
        <div class="row">
            <div class="user-all col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="user-photo">
                    <img src="@Html.DisplayFor(model => model.UserAvatar)" />
                </div>
                <ul class="user-all-ul">
                    <li class="myinfo"><a href="/User/Index">我的信息</a></li>
                    <li class="mygame"><a href="/User/MyMatch">我的约战</a></li>
                    <li class="myposts"><a href="/User/MyPosts">我的帖子</a></li>
                    <li class="mycomment"><a href="/User/MyComment">我的评论</a></li>
                    <li class="myorder"><a href="/ShoppingCart/Index">我的订单</a></li>
                    <li class="changeinfo user-active"><a href="/User/Changeinfo">修改信息</a></li>
                    <li class="logout"><a href="@Url.Action("LogOff", "Login")">注销登录</a></li>
                </ul>
            </div>
            <div class="user-body col-lg-9 col-md-9 col-sm-8 col-xs-6">
                <h4><span>修改信息</span></h4>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.UserID)
                    <table class="table table-hover">
                        <tr>
                            <td>
                                用户名
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                用户密码
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                手机号
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UserTpl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserTpl, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                性别
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UserSex, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserSex, "", new { @class = "text-danger" })
                            </td>
                        </tr>                       
                        <tr>
                            <td>
                                邮箱
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                年龄
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UserAge, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserAge, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                身高
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UserHeight, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserHeight, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                体重
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UserWeight, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserWeight, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-center">
                                <input type="submit" value="保存" class="btn btn-success" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>